/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --Grey-Tint2: #D9D9D9;
    --Blue-Light: #DEEBFF;
    --Black: #000;
    font-size: 16px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 3.125rem;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, p, ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

h1, h2, h3, h4 {
    color: #000;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h1, h2 {
    font-size: 1.375rem;

}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1.125rem;
}


/* *****************  Header **************/

header {
    margin-bottom: 1.875rem; /* Ajouter une marge en bas */
}

.header-logo img {
    width: 3.81875rem;
    height: 1.1875rem;
}

.header-nav {
    display: flex;
    margin-bottom: 2rem ;
    
}

.header-nav a {
    text-decoration: none; /* Supprimer le soulignement par défaut */
    color: #000; /* Couleur du texte par défaut */
    position: relative; /* Position relative pour ajouter la bordure sur :hover */
}

.header-nav a:hover {
    color: var(--main-color); /* Couleur du texte lors du survol */
}


/* ****************** Début NAV ******************/

/*  Formulaire  */

.nav-description p {
    margin-top: 0.5rem;
}

.conteneur-formulaire {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
}

.section-recherche {
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    width: 100%;
}

.section-recherche form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.0625rem;
    border-top: 0.0625rem solid var(--main-bg-color);
    border-bottom: 0.0625rem solid var(--main-bg-color);
    border-radius: 0.9375rem;
}

.conteneur-formulaire svg {
    fill: #000000;  /* Changer la couleur de remplissage du SVG */
    min-width: 3.125rem;
    width: 3.125rem;
    background-color: #F2F2F2;
    border-radius: 0.9375rem 0 0 0.9375rem;
}

.conteneur-formulaire input {
    border: none; /* Retirer les bordures */
    height: 3.2rem; /* Augmente la hauteur de l'input */
    font-size: 1.125rem; /* Augmente la taille de la police */
    color: var(--Black);
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conteneur-formulaire input {
    border-top: 0.0625rem solid var(--main-bg-color);
    border-bottom: 0.0625rem solid var(--main-bg-color);
}

.conteneur-btn-form button {
    height: 3rem; /* Augmente la hauteur du bouton */
    padding: 3rem 1rem; /* Ajoute un espace intérieur au bouton */
}

#lieu {
    width: 100%;
}

.btn-recherche-mobile {
    background-color: var(--main-color); /* Fond bleu */
    display: none;
    border: none;
    border-radius: 0.9375rem; /* Coins droits arrondis */
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    border-width: 0.5rem;
    padding-block: 0.9375rem;
    padding-inline: 1rem;
}

.btn-recherche-mobile:hover {
    background-color: #114ca6; /* Changement de couleur au survol */
}

.btn-recherche-desktop {
    background-color: var(--main-color); /* Fond bleu */
    color: white; /* Texte blanc */
    font-size: 1rem;
    font-weight: bold;
    border: 0.125rem solid var(--main-color);
    border-radius: 0 1rem 1rem 0; /* Coins droits arrondis */
    padding: 0.8rem 1.5rem;
    height: 3.2rem; /* Augmente la hauteur du bouton */
}

.btn-recherche-desktop:hover {
    background-color: #114ca6; /* Changement de couleur au survol */
}


/* ****************** Début FILTRE  ******************/

.les-filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.paire-filtres-haut,
.paire-filtres-bas {
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin-left: 0.9375rem;
    gap: 0.9375rem;
}

.block-titre-filtre {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
}

.block-titre-filtre h3 {
    font-size: 1.125rem
}

.filtre-economique,
.filtre-familial,
.filtre-romantique,
.filtre-pepites {
    display: flex;
    align-items: center; /* Pour aligner les éléments verticalement */
    border-radius: 1.5625rem; /* Ajoute une bordure arrondie */
    border: 0.125rem solid var(--Grey-Tint2); /* Ajoute une bordure solide grise de 1px */
    padding: 0.45rem 1.0625rem;
    gap: 0.625rem;
}

.icon-economique,
.icon-familial,
.icon-romantique,
.icon-pepites {
    display: flex;
    align-items: center;
}

.filtre-economique p,
.filtre-familial p,
.filtre-romantique p,
.filtre-pepites p {
    font-size: 1.0625rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Style lorsque survolé */
.filtre-economique:hover,
.filtre-familial:hover,
.filtre-romantique:hover,
.filtre-pepites:hover {
    background-color: var(--Blue-Light); /* Fond Blue-Light au survol */
}

/* Gestion des espaces membres entre les différentents éléments du block de Nav */
.nav-description,
.section-recherche {
    margin-bottom: 2.1875rem; /* Espacement */
}

/*  Infos Nav  */
.info-nav {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    margin-top: 2.19rem;
}

.info-nav svg {
    margin-right: 0.625rem;
}

.info-nav p {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/****** Hebergements And Populaires ***********/

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    filter: drop-shadow(0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1)); /* ombre noir */
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 2.19rem;
}

.hebergements-and-populaires section {
    border-radius: 1.25rem;
    padding: 1.875rem;
    box-sizing: border-box;
}

.hebergements-and-populaires .card-subtitle {
    font-family: Raleway;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.hebergements-and-populaires .card-subtitle span {
    font-weight: 600;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Pour répartir les cartes de manière égale */
    width: 100%;
}

.hebergements-cards a {
    width: 31.5%;
}

.hebergements-cards img {
    width: 100%; /* Redimensionner l'image pour s'adapter à la carte */
    height: 7.75rem;
    border-top-left-radius: 1.25rem; /* Arrondir le coin supérieur gauche */
    border-top-right-radius: 1.25rem; /* Arrondir le coin supérieur droit */
    
}

.hebergements-cards .card-content {
    margin-top: 0.25rem;
    padding-left: 0.6875rem;
    padding-bottom: 0.6875rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hebergements-cards .card-title {
    white-space: nowrap;
    overflow: hidden; /* garantit que tout contenu qui dépasse les deux lignes sera coupé */
    text-overflow: ellipsis; /* ajoute des points de suspension à la fin du texte si celui-ci est tronqué */
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 2.0625rem;
    padding: 0.25rem;
}

.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 0.3125rem;
}

/****** Activites ***********/

.activites {
    padding: 1.875rem;
    margin-top: 2.1875rem;
}

.activites-title {
    display: flex;
    margin-bottom: 1.875rem;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Pour répartir les cartes de manière égale */
    width: 100%;
}

.activites-cards a {
    width: 23%;
}

.activites-cards .card-content {
    display: flex;
    align-items: center;
    height: 3.4375rem;
}

.activites-cards .card-title {
    margin: 1.25rem 1.1875rem 1.375rem 1.1875rem;
    display: -webkit-box; /* propriété nécessaire pour utiliser le mode flexbox */
    -webkit-line-clamp: 2; /* Limiter à 2 lignes */
    -webkit-box-orient: vertical; /* propriété indiquent que les éléments enfants doivent être disposés verticalement */
    overflow: hidden; /* garantit que tout contenu qui dépasse les deux lignes sera coupé */
    text-overflow: ellipsis; /* ajoute des points de suspension à la fin du texte si celui-ci est tronqué */
}

.activites-cards .card-subtitle {
    margin: 0;
}

.activites-cards .card-rating {
    margin-bottom: 0.3125rem;
}

.activites-cards .card-txt {
    margin-bottom: 0.125rem;
}


/* ****************** Début footer ******************/

footer {
    display: flex;
    justify-content: space-between; /* Pour espacer également les sections */
    background-color: var(--main-bg-color); /* Couleur de fond */
    flex-wrap: wrap;
    margin-top: 2.1875rem;
}

.footer-a-propos, .footer-hebergement, .footer-assitance {
    padding: 1.25rem;
    flex: 1; /* Pour que chaque section prenne la même largeur */
}

footer li {
    margin-top: 0.9375rem;
}

footer a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Pour éviter un espace à droite sur la dernière section */
.footer-assitance {
    margin-right: 0;
}

.liste-footer {
    list-style-type: none; /* supprimer les puces */
}





/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries Pc devices (Sup than 1025px) ***********/

/* Pc devices (Sup than 1025px) */
@media (min-width: 1025px) {
    /* ... */

    /* ! Header */

    .header-nav a:hover::before {
        content: ""; /* Contenu vide */
        position: absolute; /* Position absolue pour se superposer au texte */
        width: 100%; /* Largeur de la bordure */
        height: 0.125rem; /* Hauteur de la bordure */
        background-color: #0065FC; /* Couleur de la bordure */
        top: -0.9375rem; /* Décaler la bordure vers le haut */
        left: 0; /* Aligner la bordure sur la gauche */
    }

    .header-top {
        display: flex;
        justify-content: space-between; /* répartis de manière égale sur toute la largeur */
        align-items: center; 
        height: 4rem;
    }

    .hebergement {
        margin-right: 4.25rem; /* Espacement entre les liens */
    }

    /* ! Nav */
    
    /* ? Formulaire */

    /* ? Filtre */

    /* ? Infos Nav */

    .conteneur-filtre {
        display: flex;
        flex-direction: row;
    }

    /* ! Main */


    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
    }

    /* ? Herbergements */

    .hebergements-cards .card {
        padding: 0.25rem;
        margin-bottom: 1.875rem;
    }

    /* ? Populaires */

    /* ? Activites */
    
    .activites-cards img {
        width: 100%; /* Redimensionner l'image pour s'adapter à la carte */
        height: 23.75rem;
        border-top-left-radius: 1.25rem; /* Arrondir le coin supérieur gauche */
        border-top-right-radius: 1.25rem; /* Arrondir le coin supérieur droit */
    }

    /* ! Footer */
}





/****** Media queries Medium devices (tablets, less/equal than 1024px) ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.99px) and (max-width: 1024px) {
    /* ... */

    /* ! Header */

    .header-nav a:hover::before {
        content: ""; /* Contenu vide */
        position: absolute; /* Position absolue pour se superposer au texte */
        width: 100%; /* Largeur de la bordure */
        height: 0.125rem; /* Hauteur de la bordure */
        background-color: var(--main-color); /* Couleur de la bordure */
        top: -0.9375rem; /* Décaler la bordure vers le haut */
        left: 0; /* Aligner la bordure sur la gauche */
    }

    .header-top {
        display: flex;
        justify-content: space-between; /* répartis de manière égale sur toute la largeur */
        align-items: center; 
        height: 4rem;
    }

    .hebergement {
        margin-right: 4.25rem; /* Espacement entre les liens */
    }

    /* ! Nav */
    /* ? Formulaire */
    /* ? Filtre */

    .paire-filtres-haut {
        margin-left: 0;
    }

    /* Pour les petites tablettes (tablets de moins de 790px) */
    @media (max-width: 790px) {

        .filtre-romantique {
            margin-left: 0;
        }
    
        .les-filtres {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .paire-filtres-bas {
            margin-top: 1.25rem;
            margin-left: 0;
        }
    }

    /* ? Infos Nav */

    .block-titre-filtre {
        margin-bottom: 1.25rem;
    }

    .filtre-economique p, .filtre-familial p, .filtre-romantique p, .filtre-pepites p {
        font-size: 1rem;
    }

    /* ! Main */

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires p {
        font-size: 0.8rem;
    }

    /* ? Herbergements */

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card {
        padding: 0.25rem;
        margin-bottom: 1.875rem;
    }

    .hebergements-cards .card img {
        height: 7.75rem; /* Définir une hauteur fixe pour l'image */
        object-fit: cover; /* Ajuster l'image pour qu'elle couvre toute la zone */
    }

    .hebergements-cards .card-title {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }


    /* ? Populaires */

    .populaires {
        width: 100%;
        margin-top: 3.125rem;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards img {
        width: 33%;
        height: 7rem;
    }

    .populaires-cards .card-title {
        font-size: 0.8rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125rem;
    }

    /* ? Activites */
    
    .activites-cards img {
        width: 100%; /* Redimensionner l'image pour s'adapter à la carte */
        height: 12.5rem;
        border-top-left-radius: 1.25rem; /* Arrondir le coin supérieur gauche */
        border-top-right-radius: 1.25rem; /* Arrondir le coin supérieur droit */
    }

    .activites-cards .card-content {
        height: 4.125rem;
    }

    /* ! Footer */
}





/****** Media queries Small devices (phones, less than 768px) ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    /* ! Header */

    .header-top {
        display: flex;
        flex-direction: column;
    }

    .header-logo {
        margin: 1.875rem auto;
        
    }

    .header-nav {
        display: flex;
        justify-content: space-between; /* Espacer les éléments sur la ligne */
        border-bottom: 0.125rem solid var(--Grey-Tint2);
        padding-bottom: 0.9375rem;
    }

    .hebergement,
    .activite {
        flex-basis: 50%; /* Diviser la largeur en deux */
        text-align: center; /* Centrer le texte */
    }

    .header-nav a:hover::before {
        content: ""; /* Contenu vide */
        position: absolute; /* Position absolue pour se superposer au texte */
        width: 100%; /* Largeur de la bordure */
        height: 0.125rem; /* Hauteur de la bordure */
        background-color: var(--main-color); /* Couleur de la bordure */
        bottom: -1.075rem; /* Décaler la bordure vers le bas */
        left: 0; /* Aligner la bordure sur la gauche */
    }

    .hebergement:hover::before {
        left: -50%; /* Aligner la bordure sur la gauche */
    }
    .activite:hover::before {
        left: 50%; /* Aligner la bordure sur la gauche */
    }

    .nav-description h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .header-nav {
        margin-bottom: 0rem;
    }

    /* ! Nav */
    /* ? Formulaire */
    .btn-recherche-desktop {
        display: none; /* Masquer le bouton de recherche desktop */
    }

    .btn-recherche-mobile {
        display: block; /* Affiche le bouton sur les mobiles */
    }

    .section-recherche {
        justify-content: center;
    }

    .section-recherche form {
        width: 100%; /* Faire en sorte que le formulaire prenne toute la largeur disponible */
        max-width: 30rem;
    }

    .conteneur-formulaire {
        width: 100%; /* Faire en sorte que le conteneur du formulaire prenne toute la largeur disponible */
    }

    .conteneur-formulaire input {
        /* width: 100%; /* Faire en sorte que l'input prenne toute la largeur disponible */
        box-sizing: border-box; /* Inclure le padding et les bordures dans la largeur totale */
    }


    /* ? Filtre Small */

    .les-filtres {
        flex-direction: column;
        align-content: space-around;
    }
    
    .filtre-economique,
    .filtre-romantique {
        margin-left: 0;
    }

    .paire-filtres-haut,
    .paire-filtres-bas {
        margin-top: 1.25rem;
        width: 100%;
        justify-content: space-evenly;
        margin-left: 0;
        gap: 0.625rem;
    }

    .filtre-economique,
    .filtre-familial,
    .filtre-romantique,
    .filtre-pepites {
        width: 40%;
        max-width: 9.375rem;
    }

    .filtre-economique p, .filtre-familial p, .filtre-romantique p, .filtre-pepites p {
        font-size: 0.875rem;
    }



    /* ! Main */

    .main-container {
        padding: 0;
    }

    .hebergements, 
    .populaires, 
    .nav {
        padding: 1.25rem;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse; /* Inverser l'ordre des sections */
    }

    /* ? Herbergements */

    .hebergements-cards .card {
        padding: 0.25rem;
        margin-bottom: 1rem;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        flex-direction: column;
        align-items: center;
    }

    .hebergements-cards a {
        width: 100%;
        max-width: 30rem;
    }

    /* ? Populaires */

    .populaires {
        background-color: var(--main-bg-color);
        width: 100%;
    }

    .populaires-title {
        padding-top: 0.5rem;
    }

    .populaires-cards {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .populaires-cards .card {
        margin-top: 0.9375rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125rem;
    }

    .populaires-cards a {
        width: 100%;
        max-width: 34.375rem;
    }


    /* ? Activites */

    .activites-cards {
        flex-direction: column;
        align-content: center;
        gap: 0.9375rem;
    }
    
    .activites-cards img {
        width: 100%; /* Redimensionner l'image pour s'adapter à la carte */
        height: 8.8125rem;
        border-top-left-radius: 1.25rem; /* Arrondir le coin supérieur gauche */
        border-top-right-radius: 1.25rem; /* Arrondir le coin supérieur droit */
    }

    .activites-cards .card-title {
        margin: 0.8rem;
    }

    .activites-cards a {
        width: 100%;
        max-width: 34.375rem;
    }

    /* ! Footer */

    footer {
        padding: 1.875rem;
        flex-direction: column;
    }

    .footer-a-propos {
        margin-left: 0;
    }
}