/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    font-size: 16px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


/*  a partir d ici */
/* ? Début de Mes Modification */

h1 {
    font-size: 1.4rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}



/* ***************** Début header **************/

header {
    margin-bottom: 2rem; /* Ajouter une marge en bas */
}

.header-logo img {
    width: 61.09px;
    height: 19px;
}


.header-nav {
    display: flex;
    margin-bottom: 2rem ;
    
}


.header-nav a {
    text-decoration: none; /* Supprimer le soulignement par défaut */
    color: #000; /* Couleur du texte par défaut */
    position: relative; /* Position relative pour ajouter la bordure sur :hover */
}



.header-nav a:hover {
    color: #0065FC; /* Couleur du texte lors du survol */
}



/****** Media queries ***********/

/* Pc devices (Sup than 1025px) */
@media (min-width: 1025px) {

    .header-nav a:hover::before {
        content: ""; /* Contenu vide */
        position: absolute; /* Position absolue pour se superposer au texte */
        width: 100%; /* Largeur de la bordure */
        height: 2px; /* Hauteur de la bordure */
        background-color: #0065FC; /* Couleur de la bordure */
        top: -15px; /* Décaler la bordure vers le haut */
        left: 0; /* Aligner la bordure sur la gauche */
    }

    .header-top {
        display: flex;
        justify-content: space-between; /* répartis de manière égale sur toute la largeur */
        align-items: center; 
        height: 4rem;
    }

    .hebergement {
        margin-right: 4.25rem; /* Espacement entre les liens */
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.99px) and (max-width: 1024px) {
    /* ... */

    .header-nav a:hover::before {
        content: ""; /* Contenu vide */
        position: absolute; /* Position absolue pour se superposer au texte */
        width: 100%; /* Largeur de la bordure */
        height: 2px; /* Hauteur de la bordure */
        background-color: #0065FC; /* Couleur de la bordure */
        top: -15px; /* Décaler la bordure vers le haut */
        left: 0; /* Aligner la bordure sur la gauche */
    }

    .header-top {
        display: flex;
        justify-content: space-between; /* répartis de manière égale sur toute la largeur */
        align-items: center; 
        height: 4rem;
    }

    .hebergement {
        margin-right: 4.25rem; /* Espacement entre les liens */
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    
    .header-top {
        display: flex;
        flex-direction: column;
    }

    .header-logo {
        margin: 1.2rem auto;
        
    }

    .header-nav {
        display: flex;
        justify-content: space-between; /* Espacer les éléments sur la ligne */
        border-bottom: 3px solid #c7d0db;
        padding-bottom: 0.8rem;
    }

    .hebergement,
    .activite {
        flex-basis: 50%; /* Diviser la largeur en deux */
        text-align: center; /* Centrer le texte */
    }

    .header-nav a:hover::before {
        content: ""; /* Contenu vide */
        position: absolute; /* Position absolue pour se superposer au texte */
        width: 100%; /* Largeur de la bordure */
        height: 2.5px; /* Hauteur de la bordure */
        background-color: #0065FC; /* Couleur de la bordure */
        top: 2rem; /* Décaler la bordure vers le haut */
        left: 0; /* Aligner la bordure sur la gauche */
    }

    .hebergement:hover::before {
        left: -50%; /* Aligner la bordure sur la gauche */
    }
    .activite:hover::before {
        left: 50%; /* Aligner la bordure sur la gauche */
    }

}










/* ****************** Début NAV ******************/

/*  Formulaire  */

.conteneur-formulaire {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
}

.section-recherche {
    display: flex;
    justify-content: flex-start ;
    align-items: center;
}

.section-recherche form {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.conteneur-formulaire svg {
    fill: #000000;  /* Changer la couleur de remplissage du SVG */
    
    height: 3.2rem;
}

.conteneur-formulaire input {
    border: none; /* Retirer les bordures */
    height: 3.2rem; /* Augmente la hauteur de l'input */
    padding: 0.8rem; /* Ajoute un espace intérieur autour du contenu de l'input */
    font-size: 1rem; /* Augmente la taille de la police */
    font-weight: bold; /* Met le texte en gras */
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.conteneur-btn-form button {
    height: 3rem; /* Augmente la hauteur du bouton */
    padding: 3rem 1rem; /* Ajoute un espace intérieur au bouton */
}

#lieu {
    align-self: center;
}

.btn-recherche-mobile {
    background-color: #0065FC; /* Fond bleu */
    display: none;
    border: none;
    border-radius: 0.8rem; /* Coins droits arrondis */
    padding: 1rem;
    box-shadow: 0rem 0.2rem 0.5rem 0rem  #717275;
}

.btn-recherche-desktop {
    background-color: #0065FC; /* Fond bleu */
    color: white; /* Texte blanc */
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #0065FC;
    border-radius: 0 1rem 1rem 0; /* Coins droits arrondis */
    padding: 0.8rem 1.5rem;
    height: 3.2rem; /* Augmente la hauteur du bouton */
}

.btn-recherche-desktop:hover {
    background-color: #0052CC; /* Changement de couleur au survol */
}





/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.99px) and (max-width: 1024px) {
    /* ... */
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .btn-recherche-desktop {
        display: none;
    }

    .btn-recherche-mobile {
        display: block; /* Affiche le bouton sur les mobiles */
    }

}

/* ****************** Début FILTRE  ******************/



.les-filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.block-titre-filtre {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
    margin-right: 1.5rem;
}


.filtre-economique,
.filtre-familial,
.filtre-romantique,
.filtre-pepites {
    display: flex;
    align-items: center; /* Pour aligner les éléments verticalement */
    border-radius: 5rem; /* Ajoute une bordure arrondie */
    border: 2px solid #ccc; /* Ajoute une bordure solide grise de 1px */
    padding: 0px; /* Ajoute un espace intérieur pour séparer le contenu de la bordure */
    margin-right: 0.8rem; /* Ajoute un espace à droite du p */
}

.icon-economique,
.icon-familial,
.icon-romantique,
.icon-pepites {
    margin-left: 1.2rem; /* Ajoute un espace à gauche du SVG */
}


.filtre-economique p,
.filtre-familial p,
.filtre-romantique p,
.filtre-pepites p {
    margin-right: 0.5rem; /* Ajoute un espace à droite du p */
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0.8rem;
}

/* Style lorsque survolé */
.filtre-economique:hover,
.filtre-familial:hover,
.filtre-romantique:hover,
.filtre-pepites:hover {
    background-color: #DEEBFF; /* Fond gris au survol */
}

/* Gestion des espaces membres entre les différentents éléments du block de Nav */
.nav-description,
.section-recherche {
    margin-bottom: 1.8rem; /* Espacement */
}




/*  Infos Nav  */
.info-nav {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-nav svg {
    width: 0.8rem; /* Réduire la largeur du SVG à 50% */
    height: 0.8rem;
    fill: #0065FC;  /* Changer la couleur de remplissage du SVG */
    margin-right: 0.5rem;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 0.2rem;
}


/****** Media queries ***********/

/* Pc devices (Sup than 1025px) */
@media (min-width: 1025px) {

    .conteneur-filtre {
        display: flex;
        flex-direction: row;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.99px) and (max-width: 1024px) {
    /* ... */
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}


/* ?   Fin de Mes Modification */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}



/****** Hebergements ***********/

.hebergements {
    width: 65%;
}




.hebergements-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Pour répartir les cartes de manière égale */
    
}

.hebergements-cards .card {
    padding: 4px;
    width: 15rem;
    margin-bottom: 2rem;

}

.hebergements-cards img {
    width: 100%; /* Redimensionner l'image pour s'adapter à la carte */
    height: 8rem;
    border-top-left-radius: 20px; /* Arrondir le coin supérieur gauche */
    border-top-right-radius: 20px; /* Arrondir le coin supérieur droit */
    
}

.hebergements-cards .card-content {
    margin-left: 0.5rem;
    padding-left: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-self: flex-end; /* Déplacer le contenu de la carte en bas */
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/


.activites-title {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Pour répartir les cartes de manière égale */
    margin-left: 2rem;
    margin-right: 2rem;
}

.activites-cards .card {
    width: 18rem;
    margin-bottom: 2rem;
    padding: 0px;

}

.activites-cards img {
    width: 100%; /* Redimensionner l'image pour s'adapter à la carte */
    height: 25rem;
    border-top-left-radius: 20px; /* Arrondir le coin supérieur gauche */
    border-top-right-radius: 20px; /* Arrondir le coin supérieur droit */
    
}

.activites-cards .card-content {
    
    
    display: flex;
    
    align-self: flex-end; /* Déplacer le contenu de la carte en bas */
    
}

.activites-cards .card-title {
    margin: 1.2rem;
}

.activites-cards .card-subtitle {
    margin: 0;
}

.activites-cards .card-rating {
    margin-bottom: 5px;
}

/* ? Début de Mes Modification */
/* ****************** Début footer ******************/

footer {
    display: flex;
    justify-content: space-between; /* Pour espacer également les sections */
    background-color: #F2F2F2; /* Couleur de fond */
    margin-top: 2rem;
}

.footer-a-propos,
.footer-hebergement,
.footer-assitance {
    flex: 1; /* Pour que chaque section prenne la même largeur */
    margin-right: 30px; /* Espacement entre les sections */
}

.footer-a-propos {
    margin-left: 1rem;
}

footer, li {
    margin-top: 1rem;
}

/* Pour éviter un espace à droite sur la dernière section */
.footer-assitance {
    margin-right: 0;
}

.liste-footer {
    list-style-type: none; /* supprimer les puces */
    padding: 0rem; /* définir l'espacement à l'intérieur d'un élément */
    margin-bottom: 15px; 
}


/* ?   Fin de Mes Modification */



/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}